body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  justify-content: center;
}

a{
  color: seashell;
}

main{
  display:flex;
  flex-direction: column;
  margin: 0 auto 78px auto;
  width: 1200px;
  justify-content: center;
}

/* Header Section */
header{
  display: flex;
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}

nav{
  display: flex;
  flex: 0 1 400px;
  height: 50px;
  margin-right: 20px;
  padding-top: 10px;
  justify-content: flex-end;
}

.links{
  display: inline-block;
  padding: 10px;
}

.logo{
  display: flex;
  flex: 1 0 700px;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-left: 10px;
}

/* Mission Section */
.mission.content{
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 1200px;
  margin-top: 59px;
  margin-bottom: 79px;
  align-content: center;
  justify-content: center;
  background-image: url("../images/img-mission-background.jpg");
}

.wordplay{
  background-color: black;
}

.wordplay h2{
  margin-top: 7px;
  margin-bottom: 15px;
}

.wordplay h4{
  margin-top: 15px;
  margin-bottom: 7px;
}

/* Tea of the Month Section */
.tea.content{
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-left: 100px;
  justify-content: center;
}

.tea.content .wordplay{
  margin-bottom: 25px;
}

.teabox{
  display: inline-flex;
  flex-direction: column;
}

.teaname{
  margin: 0 auto;
}

.teapic{
  height: 200px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Locations Section */
.location.content{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1200px;
  margin-top: 80px;
  background-image: url("../images/img-locations-background.jpg");
  justify-content: center;
}

.where h2{
  margin: auto;
}

.locations{
  display: inline-flex;
  justify-content: center;
}

.locbox{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  background-color: black;
  opacity: 1;
  align-content: center;
  justify-content: center;
}

.locbox h3{
  margin: auto;
}

.locbox h4{
  margin: auto;
}

/* Contact Section */
.contactbox{
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 20px auto;
  justify-content: center;
}

/* Footer Section */
.copyright{
  width: 100%;
  margin-top: 100px;
  margin-left: 20px;
  text-align: left;
}
